.item {
  display: flex;
  width: 100%;
  gap: 12px;
}

.title {
  font-size: 14px;
}
.extra {
  font-size: 12px;
  color: #6c7072;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wrapper {
    width: 64px;
    height: 64px;
    background-color: #f2f4f5;  /* Исправил #f2f45 → #f2f4f5 */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  /* Добавьте это! */
    flex-shrink: 0;
    border-radius: 4px;  /* Опционально */
}